<div class="row">
                    <!-- Latest Products -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <img class="img-responsive wow fadeIn" src="img/970x647/01.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".1s">
                        </div>
                        <h4><a href="#">Workspace</a> <span class="text-uppercase margin-l-20">Management</span></h4>
                        <p>Оплатить помощь и сопровождение вашего человека можно по ссылке ниже</p>
                        <a class="link" href="#">Read More</a>
                    </div>
                    <!-- End Latest Products -->

                    <!-- Latest Products -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <img class="img-responsive wow fadeIn" src="img/970x647/02.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s">
                        </div>
                        <h4><a href="#">Minimalism</a> <span class="text-uppercase margin-l-20">Developmeny</span></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                        <a class="link" href="#">Read More</a>
                    </div>
                    <!-- End Latest Products -->

                    <!-- Latest Products -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <img class="img-responsive wow fadeIn" src="img/970x647/03.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".3s">
                        </div>
                        <h4><a href="#">Cleant Style</a> <span class="text-uppercase margin-l-20">Design</span></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                        <a class="link" href="#">Read More</a>
                    </div>
                    <!-- End Latest Products -->
                </div>




                <div class="container-full-width">
                    <div class="row row-space-2">
                        <div class="col-sm-6 sm-margin-b-4">
                            <img class="img-responsive" src="img/970x647/01.jpg" alt="Image">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="img/970x647/03.jpg" alt="Image">
                        </div>
                    </div>
                    <!--// end row -->
                </div>



 <!-- Work -->
 <div class="work work-popup-trigger">
    <div class="work-overlay">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/_xJAzydJDfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="work-popup-overlay">
        <div class="work-popup-content">
            <a href="javascript:void(0);" class="work-popup-close">X</a>
            <div class="margin-b-30">
                <h3 class="margin-b-5">Art Of Coding</h3>
                <span>Clean &amp; Minimalistic Design</span>
            </div>
            <div class="row">
                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                    <div class="margin-t-10 sm-margin-t-0">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/_xJAzydJDfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="margin-t-10 sm-margin-t-0">
                        <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                        <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                        <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                        <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Work -->